[2019-05-04 10:19] Davejkane opened #1 "D for Delete"
In the existing key event handling code in `src/program.rs`, in the `run` function, add a match clause for `D` key and implement a `delete_current_image` function. `delete_current_image` should be a method on Program, taking a mutable reference to self.

The method will need to delete the file, remove the path from the `self.images` path vector, update the `self.index` and call render. Pretty simi

[2019-05-04 10:39] Davejkane opened #3 "Vim style navigation keys"
Currently the picture navigation keys are perhaps poorly chosen. Refactor the key handling code (in `src/program.rs` `run` function) to use `J`, `K`, `L` and `;` to navigate images. I propose that `J` & `K` should move to next and previous image respectively, and the `;` and `L` should do the same. Please retain the arrow keys, and also implement the up and down arrow keys.

This refactor will req

[2019-05-04 10:59] Davejkane opened #4 "Add flag for Keep directory"
Currently when browsing images, the `K` key creates a folder called `keep` in the current directory and moves the image to that folder.

Add a command line option to the Clap app in `src/cli.rs` that allows one to pass the name and destination (relative or absolute path) or the keep folder, so that pressing `K` will move the file to that folder instead. The absence of the flag should leave the beh

[2019-05-04 11:09] Davejkane opened #5 "Toggle-able status bar with current file name"
Add a bar at the bottom of the window that displays the name of the current file (relative to the current directory). This bar can also display total number of images and any other info you think would be relevant. If it could be styled a little like vim [powerline](https://github.com/powerline/powerline) that would be extra awesome, but not required for an initial implementation.

You may want to

[2019-05-04 11:15] Davejkane opened #6 "Make window resizable and handle resize events"
Currently the window is a fixed size. Make the window resizable. In the window building code, (`src/program.rs` `init` function), include [resizable](https://rust-sdl2.github.io/rust-sdl2/sdl2/video/struct.WindowBuilder.html#method.resizable) to make the window resizable.

In the event handling code in `src/program.rs` `run` function, add handling for window resize events. See [here](https://rust-

[2019-05-04 11:22] Davejkane opened #7 "Make program launch on current monitor."
Currently, riv is launched on the default monitor on a multi-monitor setup. For example, if I have a laptop with an external monitor plugged in and I'm working on the external monitor, riv will open on my laptop monitor.

Please add handling to determine the active monitor at start up and use this monitor. I don't know how to do this in sdl2. It maybe related to [this](https://rust-sdl2.github.io/

[2019-05-04 11:32] Davejkane opened #8 "? Key to print key help"
Add key handling for `?` key to toggle display of key help. You will probably want to add a boolean to the program struct to determine whether or not to render help, and toggle the boolean with the `?` key. I don't know if this will require handling whether or not the shift key is pressed.

The help box itself I envision as a semi-transparent overlay in the centre of the window with a list of keys

[2019-05-04 13:29] Davejkane opened #9 "Better handling of image file extensions"
In `src/cli.rs` there is an OR check for different image file extensions. This could probably be handled better. For instance, uppercase extensions will miss, and `"jpeg"` will miss. Also there are probably other image types which can be handled by SDL2 that are not being handled here.

Use a to lower case method on the path extension before comparison. Perhaps use an Enum or a Hashset for the lis

[2019-05-04 13:41] Davejkane opened #10 "Add comments to all functions, structs and enums"
I'll take this one.

[2019-05-04 13:45] Davejkane opened #11 "Better error code handling"
* Creating the keep directory needs to be handled better
* io errors on moving an image should not cause the program to exit
* Lots of errors in render, increment and decrement probably shouldn't cause the program to exit (but they will by bubbling all the way up to main through the `run` method in `src/program.rs`

[2019-05-06 20:59] #11 closed

[2019-05-06 20:59] #10 closed

[2019-05-07 07:53] #4 closed

[2019-05-07 09:10] Davejkane opened #14 "Setup Travis CI for Repo"
Use
* Cargo fmt --all -- --check
* Cargo check
* Cargo test

[2019-05-07 09:55] #14 closed

[2019-05-07 18:25] #6 closed

[2019-05-07 18:26] Davejkane commented on #7
On second thought, this appears to be normal behaviour for most apps on my mac. So I'm going to close this.

[2019-05-07 18:26] #7 closed

[2019-05-07 19:31] #9 closed

[2019-05-08 07:39] #3 closed

[2019-05-08 07:54] Davejkane opened #20 "Implement Skip Image forward and backward"
* Add `SkipForward` and `SkipBack` to Action Enum in `ui.rs`
* In `event_action` function in `ui.rs` map `w` and `PageUp` to SkipForward
* In `event_action` function in `ui.rs` map `b` and `PageDown` to SkipBack
* In `run` in `program.rs` match SkipForward to skip_forward function
* In `run` in `program.rs` match SkipBack to skip_back function
* In new `skip_forward` and `skip_backward` functions,

[2019-05-08 08:10] Davejkane opened #21 "C for Copy"
Much like the current `move_image` functionality, implement a `copy_image` function that instead of moving the file, copies it to the destination folder.

* Add `Copy` to the `Action` enum in `ui.rs`
* Match `c` key to `Copy` action in `event_action` function in `ui.rs`
* Match `Action::Copy` to `copy_image` function in `run` in `program.rs`
* Update README with new controls

[2019-05-08 08:21] Davejkane opened #22 "Zoom and Pan"
* Add ZoomIn, ZoomOut, PanUp, PanDown, PanRight & PanLeft to `Action` enum in `ui.rs`
* Otherwise make a new ZoomAction enum with two variants, and a PanAction enum with the four variants and add `Zoom(ZoomAction)` to the `Action` enum and `Pan(PanAction)` to the `Action` enum
* Match `i` and `UpArrow` to ZoomIn
* Match `o` and `DownArrow` to ZoomOut
* Match `shift+arrow keys` and `shift+j,k,l,;`

[2019-05-08 08:31] Davejkane opened #23 "Toggle actual size/fit to screen"
* Add `ToggleFit` to `Action` enum in `ui.rs`
* Add `actual_size` boolean to program
* Match `z` key to `ToggleFit` in `event_action` function in `ui.rs`
* Match `Action::ToggleFit` to `toggle_fit` function in `run` in `program.rs`
* in `toggle_fit` function flip the `actual_size` boolean
* When changing image in `Next, Prev, Move, First, Last` etc, reset the `actual_size` boolean. It should be tr

[2019-05-08 13:38] Phate6660 commented on #24
Here are the package names for Arch Linux that are required.
(I saw this and thought I should list the packages needed for Arch.)

`sdl2`, `sdl2_image`, and `sdl2_ttf`.

[2019-05-08 15:31] Davejkane commented on #24
Thanks guys. I've added some info to the README, including a request to make a PR for anyone who discovers specifics for their distro. Going to close this for now.

[2019-05-08 15:31] #24 closed

[2019-05-08 20:18] ramonsnir opened #24 "Prerequisites missing libsdl2-image-dev and libsdl2-ttf-dev"
The readme file only specifies that SDL2 should be installed. The instructions linked only install libsdl2-dev, however libsdl2-image-dev and libsdl2-ttf-dev are also required.

Note: package names differ between distros, names taken from Ubuntu/Debian.

[2019-05-09 00:57] ori155 commented on #22
Hi,
I'd like to take this one.
I think I'll take the ZoomAction and PanAction approach, as I think it will be easier to extend later if needed.

[2019-05-09 05:08] gurgalex opened #28 "Decouple rendering of UI from internal state (such as images held)"
I think this would make writing tests easier, as the internal state of the application (ex. current image index) could be tested before and after without needing to spawn an sdl2 window.

[2019-05-09 05:39] gurgalex commented on #20
```If len < 10 move by one image, if 10 < len < 20 move by 2 images etc```

Would cutting it off at 10% be fine?
1 step: <= 10

2 step: 10 < len <= 20

What did you want for the multiples of 10 if that is not the case?

[2019-05-09 05:41] gurgalex commented on #20
What should be the default behavior if there is not 10% left to skip?

Should the viewer take the user to the last/first image?

Or, should it wrap around?

[2019-05-09 06:23] Davejkane commented on #28
Yeah, I'm already starting to get a little weary of the `Program` god struct. Is this something you'd like to take a look at? If you have something in particular in mind?

[2019-05-09 06:30] Davejkane commented on #22
Excellent. It's all yours. Thanks a lot for getting involved.

[2019-05-09 06:41] Davejkane commented on #20
I mean I'm open to suggestions on this one, but I was basically thinking 10% of length, rounding up. I worded it pretty poorly I can see.

As for what to do when there is less than 10% left, we should go to the last image. I don't think there should ever be wrapping around. If you want to go back to the first image, it's just a keystroke away (`g`). Thanks for taking that into consideration, I had

[2019-05-09 08:05] gurgalex commented on #28
Yeah, I'd like to take a look at it.

Seperating `images, dest_folder, index` from the UI is a start.

Communicating data changes to and from the UI / data source

Example data structure and communication. I'll see how it goes.
see `fn update_counter`
https://azul.rs/

I'm sure there are other ways to go about making testing / splitting up easier.

[2019-05-09 08:53] #21 closed

[2019-05-09 08:57] Davejkane opened #30 "Deleting last image should render blank screen"
Currently, when deleting an image, the image is removed and the next is display. But when deleting the last image, it stays rendered. This should cause a black screen to be rendered.

* Update the render function to render a black screen if `images.is_empty`

[2019-05-09 10:45] #20 closed

[2019-05-09 12:11] #30 closed

[2019-05-09 16:26] gurgalex commented on #23
So, pressing `z` should either zoom in or out on the image until it fits in the dimensions of the window?

[2019-05-09 17:46] Davejkane commented on #23
Yes, pressing z should toggle between actual size and fit to window. The default for images smaller than the window should be actual size, and the default for images larger than the window should be fit to window.

[2019-05-10 04:49] gurgalex commented on #23
Question. When the image is larger than the display and actual size is desired, should the viewport focus on the center of the image?

I'm heavily leaning toward centered.

#22 May be related

Centered
[code]

Or

Top-left focus
[code]

[2019-05-10 06:28] Davejkane commented on #23
I'd also definitely go with centred. Hadn't even thought of it as an option :)

[2019-05-10 08:10] Davejkane commented on #28
I'm taking care of this in the info bar branch.

[2019-05-10 17:51] Davejkane commented on #23
Just a heads up, `canvas.copy_ex` let's you specify a centre point, which will make this much easier.

https://rust-sdl2.github.io/rust-sdl2/sdl2/render/struct.Canvas.html#method.copy_ex

[2019-05-10 17:58] gurgalex commented on #23
Nice! Just need to get the center point of the texture.

[2019-05-11 04:27] gurgalex commented on #23
From what I've read, the center point for `copy_ex` is used to specify the point to rotate or flip along.
https://docs.rs/sdl2/0.32.2/sdl2/render/struct.Canvas.html#method.copy_ex

So, perhaps what needs to be done manually is:

1. Compute the texture center point
2. (tex_slice) Create a rectangle to select only an area as large as the destination dimensions (or an area only as large as the image

[2019-05-11 04:43] gurgalex opened #38 "Queue of keyboard inputs has lag-like behavior"
Holding down say `j` to move to next image rapidly upon release will scroll to next couple images.

Possibly because say 20 images were rendering in 1 second, but 23 j presses were picked up?

So after releasing the key, there are still 3 pending j presses left to handle, hence 3 more images rendered.

[2019-05-11 05:34] Davejkane commented on #38
Hmmm. Might be due to the thread sleep basically telling the system to give another process a chance. Without the thread sleep though, it will run at 100% CPU. I wonder if there is a way to flush the event queue on each iteration. Otherwise, perhaps having thread sleep of 10ms or so might prevent this.

[2019-05-11 05:40] gurgalex commented on #38
Well, on Linux (Arch)  it is already running at 100% of one core with a 0ms sleep time.

Setting it to (1000/60) ms reduced the cpu usage to ~1%.

Inputs still get queued up with this change, it happens more with rendering very large images (1920x6000).

So clearing pending events may work (if possible)

[2019-05-11 05:45] Davejkane commented on #38
Ah, ok. Giving it even a zero ms sleep time was enough to prevent 100% cpu usage on mac, but good to know that it's still doing that on linux. That definitely needs fixed. 1000/60ms sounds like a reasonable default.

As for clearing the queue, I can't find anything just now. I'll look later. There's a wait version of the iterator that might change the behaviour. I won't get a chance to look until

[2019-05-12 13:29] Davejkane opened #39 "Command line flag for full screen"
Allow an extra command line flag in `cli.rs`, probably `-F` to allow the app to be launched in full screen mode.

Currently the window is built before parsing the command line arguments, so this will need to be taken care of. After that it should just be a boolean, that defaults to false. If true the `let window = ` line in main will have to be built differently, with `resizable` removed, display

[2019-05-12 13:57] Davejkane opened #40 "/ to redefine glob at runtime"
# Goal

Add an extra handle for the `/` (because it's used for search in vim) to allow redefining the glob at runtime.

# Implementation

This will require the following to be taken into consideration:

* `/` key to start taking keyboard input as a string.
* `enter` or `return` key to indicate end of input.
* update the glob and reproduce the `images` paths
* determine if the current image path ex

[2019-05-12 14:05] Davejkane opened #41 "Add command line flag for sorting options"
# Goal

To allow a command line flag (probably `-s`, `--sort`) to take an additional sort method, and sort the filepaths accordingly.

# Implementation

Add a new command line flag option to `cli.rs`. `-s` for short, `--sort` for long. It should take a value.

possible values should be

* Breadth first (current directory, then sub directories, the sub-sub-directories etc.)
* Depth first (which app

[2019-05-13 11:23] #5 closed

[2019-05-13 11:32] #28 closed

[2019-05-13 12:54] gurgalex opened #42 "Make improvements to indicating the image doesn't need to be refreshed"
Leaving this here for thinking there may be a better way to prevent rerendering an image that doesn't need to be rerendered. An example would be toggling the infobar.

Currently, every caller that wants to update the rendered image needs to set the screen as `dirty` to true and then call `set_image_texture`.  A new image texture replaces the stale texture. To render the image, call `render_image`.

[2019-05-13 18:05] ThangaAyyanar opened #43 "tilde operator not resolving to home directory"
riv ~/Desktop/*.png doesnot load any image

[2019-05-13 18:19] gurgalex opened #44 "Incorrect filepaths when paths not based on current directory of program"
Ex.

Running from /home/alex/github/riv:

`cargo run --release riv /home/alex/*.png`
Results in the incorrect path of

`/home/alex/github/riv//home/alex/*.png`

It should be
`/home/alex/*.png`

[2019-05-13 18:23] gurgalex commented on #44
Possibly related to #43

[2019-05-13 18:47] gurgalex commented on #44
Found a crate to do tilde and environmental variable expansions.

https://docs.rs/shellexpand/1.0.0/shellexpand/fn.full.html

[2019-05-13 20:06] Davejkane commented on #44
One other way to deal with this might be to not wrap the glob in quotes, but instead let the shell provide all the paths it finds to riv. Clap might be able to handle that.

I'll look into it. It's a bit depressing that glob doesn't handle this properly.

[2019-05-13 20:29] Davejkane commented on #44
OK. That is going to work. But we're going to lose the context of the glob provided to the program, and it might make [#40](https://github.com/Davejkane/riv/issues/40) a bit more tricky, but this is more important. I'll push a fix in the morning, because it's going to require rewriting some of the info bar code.

[2019-05-13 20:31] Davejkane commented on #43
I'll close this issue as it is a duplicate of [#44](https://github.com/Davejkane/riv/issues/44). The fix will come soon, probably tomorrow.

[2019-05-13 20:31] #43 closed

[2019-05-14 06:18] Davejkane commented on #44
This bug has been fixed by accepting multiple paths, thus allowing the shell to do the glob expansion instead.

[2019-05-14 06:18] #44 closed

[2019-05-14 08:23] #8 closed

[2019-05-14 13:52] NickHackman commented on #41
I'd be happy to take this one

[2019-05-14 17:48] gurgalex commented on #41
@NickHackman All yours then.

[2019-05-14 19:30] Davejkane commented on #41
@NickHackman awesome. You might want to use [this](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.possible_values) method in the clap app.

I'm probably going to move the `cli` function call from `program/mod.rs` to main, because I'll need it for conditionally building the window in fullscreen ([#39](https://github.com/Davejkane/riv/issues/39)). But don't worry about that just now, it'll

[2019-05-14 19:53] gurgalex commented on #39
@Davejkane can I take this issue (and refactoring cli), or are you already working on moving `cli` parsing to happen before window creation?

[2019-05-14 20:13] Davejkane commented on #39
@gurgalex go for it. I hadn't started on it yet.

[2019-05-15 03:13] gurgalex commented on #39
What shortcut key should switch between fullscreen and windowed mode?
`F` and `F11` seems like a good choice.

[2019-05-15 06:29] Davejkane commented on #39
They seem like good choices to me.

[2019-05-15 08:34] gurgalex commented on #22
Hi @ori155

There has been a large refactor in the past few days #34 (issue #28)

The development of #37 will be relevant as well shortly.

[2019-05-15 09:22] #39 closed

[2019-05-15 09:36] Davejkane opened #48 "Take Numeric arguments for Actions"
# Goal

Allow current operations to take numeric arguments, a la vim. For example, `5j` would move through 5 images. `10d` would delete the next 10 images (😱). `11G` would go to the 11th image, etc.

# Implementation

We're probably going to want to group all numeric keypresses to enter some kind of new State-Machine state. From there, further numeric keypresses will augment the number, and non-nu

[2019-05-15 10:45] #23 closed

[2019-05-15 16:26] NickHackman commented on #41
@Davejkane
In advance, my apologies, I should've asked these sooner on rather than diving head first. my bad :(

I have a few specification questions, opening up with the larger ones what did you want breadth first/depth first to do exactly?

As of right now, it feels super awkward, after input/globing I get the parent directory of the inputted files and perform depth/breadth on that. That seems a

[2019-05-15 16:43] Davejkane commented on #41
Don't worry about man, there's never a bad time for clarifications.

To be clear, we only want to sort the paths that we already have after collecting them. So once we have the vector we want to sort it. So your code won't have to do any globbing or directory traversal.

But you raise some important points about depth and breadth sorting. I was thinking that maybe there would be some way to determ

[2019-05-15 17:03] Davejkane commented on #41
I guess a naive implementation would be to count the number of slashes (may need a separate Unix and windows function) in the stringified path.

[2019-05-15 17:09] NickHackman commented on #41
Completely understand everything besides, directory traversal is necessary for breadth/depth

I just think that having the program do a depth first by default pulls in a lot of probably unintended images into riv, for instance all of firefox's cache.

difficult.

I'm mostly confused about the entry point, since we're doing this post the provided input isn't a directory, but a vector of paths to im

[2019-05-15 20:02] gurgalex commented on #41
It may make sense to rename and repurpose `current_dir` for tracking the base directory of the glob search.
https://github.com/Davejkane/riv/blame/a1c8a79e7569aaf40dce816e398e416d6cc6b598/src/paths.rs#L13

Examples:

[code]

There's a potential limitation with globs (I think) that only directories where `*.png`  is being performed will return pictures. A Possible feature request as it may be inten

[2019-05-15 20:29] gurgalex opened #49 "[Feature request] Finding all images in nested directories"
# Problem

Unable to view files existing at multiple levels in a nested directory.

# Desired Behavior
Viewing of all the images listed.
[code]

# Syntax

Is there a syntax to express that all images of certain types should be searched for up to a certain directory depth?

pseudo syntax
`riv -f Pictures/**[*.png]/**[*.png]/*.png`

# Expected behavior
Find all images of type png in base Pictures fo

[2019-05-15 20:49] Davejkane commented on #49
I'm not sure I understand. I'm pretty sure on zsh if I do `riv **/*.png` I get this behaviour. As for limiting the depth, this probably something that should be done by the shell. At runtime it's a different story, and I'll see if I can take it into account in [#40](https://github.com/Davejkane/riv/issues/40). I'm not sure how to do this in bash.

[2019-05-15 21:07] Davejkane commented on #41
I think we're confusing a breadth/depth first sort with a breadth/depth first search. That's probably my poor explanation. We don't need to do any directory traversal here. We're only sorting the Vector that we have. We're not finding extra image files or recursively traversing into directory paths that weren't provided to the program.

Also to be clear, we're no longer doing glob search in the pr

[2019-05-15 21:12] gurgalex commented on #49
Tested on zsh and it has the expected behavior.  (4 of 4 images)

Bash shell only showed.

[code]

Closing as it is shell specific.

[2019-05-15 21:15] gurgalex commented on #49
Hmm, may be a reason to bring back quoting globs.

`riv "**/*.png"` would have the same result regardless of shell expansion support (plus if a user has say 10k files and possibly reaches the max supported cli arguments for a program).

https://docs.rs/shellexpand/1.0.0/

[2019-05-15 21:20] Davejkane commented on #41
I think a better way of putting it would have been depth first vs depth last sort. Rather than depth first, vs breadth first sort.

[2019-05-15 21:24] gurgalex opened #50 "Shell independent glob expansion"
From #49

Some shells may not have support for globstar `**` expansion.

Bash has it disabled by default.

To support shells that don't have this feature a quoted string can be supplied (with a cli flag as well?).
riv --placeholder `**/*.png`

The program will do shell expansion instead of the shell.

Also may be of use for extremely large amounts of images. As the length of the expanded arguments

[2019-05-15 21:25] gurgalex commented on #49
Closed in favor of #50

[2019-05-15 21:25] #49 closed

[2019-05-15 21:25] Davejkane commented on #49
Yeah, I think I agree with you on this. Especially after doing a little bit of reading about bash. Also, I'll need this to take care of [#40](https://github.com/Davejkane/riv/issues/40) anyway. Please close this issue anyway and I'll take care of it in that branch. Although I think it's going to be a nightmare coz I don't think that library you've linked does glob expansions.

[2019-05-15 21:35] gurgalex commented on #41
Yeah, globstar (`**`) is disabled by default in bash, so that's why `**/*.png` was giving a different number of results. I didn't think shells behaved differently.

[2019-05-15 21:39] NickHackman commented on #41
Man, I honestly had no idea you meant that, I implemented breadth/depth first search, thinking "Okay, this could be useful in specific cases, but it still feels weird". Now I think I got what you mean! :+1:

Just to clarify though, so you want depth first to put the farthest (from current_dir) possible images first, and breadth first to put the current directory first followed by each depth? And w

[2019-05-15 21:47] Davejkane commented on #41
Exactly. Sorry for the shitty explanation. A reverse flag sounds like a nice bonus I hadn't thought of. Don't worry about depth limits just now. We'll maybe do that separately when we re-implement internal globbing, although I think a vector length limit would probably make more sense. I don't care how nested your file is if there's only two of them.

[2019-05-15 22:27] gurgalex commented on #48
Hiya, I'd work to work on this if anybody else hasn't.

[2019-05-16 01:04] gurgalex commented on #48
Questions.

`10d`
Would delete the next 10 images. The currently shown image would not be deleted.

If on image "2 of 5", images 1-2 would remain. While 3-5 are deleted.

Maybe an option or other key or key combo to be inclusive.

[2019-05-16 02:35] NickHackman commented on #40
This seems really cool, I'm game to work on this if no one else is.

Really like the feature list so far, but I think an interesting addition would be to take the vim roots and have, if the provided file is in `images` jump to that index that would be convenient in addition to the other features you've outlined.

[2019-05-16 03:03] gurgalex commented on #40
I don't see that anybody else is assigned to the issue.
@NickHackman It's yours then.

[2019-05-16 03:23] gurgalex commented on #40
@NickHackman
Hmm, A search option? (with possible multiple matches).

#48
Need for Having different actions based on the state of the app or part of text currently being entered.
An example, cancelling a search with `Esc` should not quit the app.

[2019-05-16 03:42] NickHackman commented on #40
@gurgalex Easy solution would be just to use relative paths to prevent multiple matches, but man it would be way cooler if we used 'n', or 'N' (backwards) like in vim to move between the multiple matches.

[2019-05-16 03:56] gurgalex commented on #40
Having both would be nice. redefine glob and searching for matches (without redefining global glob)

I really did want a config file or something to change default keybindings for this case (user prefs).

Hmm, can yo make an issue detailing the proposed feature (search) and a good keyboard default for it. Unsure if (Shift + /) (?) could be a good one.

[2019-05-16 04:06] Davejkane commented on #48
No, the current image would be deleted and 10 in total. At least that's how it works in vim

[2019-05-16 04:16] Davejkane commented on #40
I'll write up a spec for the issue you describe. As for keybindings, perhaps slash for what you describe would be best. Then this feature could use `s` for search?

[2019-05-16 04:20] gurgalex commented on #40
I think this is what we're both thinking.

issue I described: configurable keyboard shortcuts via config

Glob redefine: `/`

search for image in current glob: `s`

[2019-05-16 06:52] Davejkane opened #52 "Dot operator to repeat last action"
# Goal

As in vim, we'd like to implement a dot operator, bound to `.` This would cause the previous action to repeat. For example if the last action was `10j`, then `.` would repeat this action.

# Implementation

* This is probably just a matter of storing an `Action` enum in the ui `State`, and on a `.` keypress, dispatching the last `Action` variant.
* It will also mean updating that last acti

[2019-05-16 07:06] Davejkane opened #53 "Implement search filter that can be cycled through"
# Goal

As discussed in the thread [here](https://github.com/Davejkane/riv/issues/40), we'd like a path search, that acts as a filter on the currently loaded paths. It should then be able to cycle through this subset of paths, forward with `n` and backward with `N`.

# Implementation

* As with [#40](https://github.com/Davejkane/riv/issues/40) we're going to want to take a string here, by entering

[2019-05-16 18:10] gurgalex commented on #41
Closed by #51

[2019-05-16 18:10] #41 closed

[2019-05-16 23:51] NickHackman commented on #40
@Davejkane After spending a good amount of time learning sdl2 more closely, I hit a roadblock with implementing and the potential solution I have, I think, should need approval. So in order to properly get the user input I need to be able to drive the event loop as seen [here](https://wiki.libsdl.org/Tutorials/TextInput) more than one event loop can't exist and would probably be catastrophic if it

[2019-05-17 00:42] gurgalex commented on #40
@NickHackman
We had the same idea roughly!
[code]

[2019-05-17 00:43] gurgalex commented on #40
Maybe a name like `NewGlob`?

[2019-05-17 00:50] gurgalex commented on #40
Found a great article on state machines for some ideas.
https://hoverbear.org/2016/10/12/rust-state-machine-pattern/

[2019-05-17 01:01] NickHackman commented on #40
Yeah that's good abbreviated to `ng` for short, Once we pick a case, in this case Camel, we should stick with it.

Oh, also on #48 probably a good idea to follow vim and display in the far right of the infobar all keys pressed. Really like how that's coming along :+1:

[2019-05-17 01:06] gurgalex commented on #40
Oh, didn't know vim even had that.
All this time I thought it was invisible.

[2019-05-17 01:12] gurgalex commented on #40
Thought `NewGlob` was for the Action variant.

Looks like lowercase is common for vim commands. Along with abbreviations (and shortened names)
Examples
https://www.fprintf.net/vimCheatSheet.html

`:e[dit]`
`:reg[isters] {arg}`

So, `ng` and `newglob` perhaps.

[2019-05-17 01:14] gurgalex commented on #40
`Mode` or `InputMode` sounds like a good name for tracking which input mode we are interpretting events for.

[2019-05-17 01:19] NickHackman commented on #40
Sweet, newglob/ng it is

I think `Mode` makes the most sense in this context

[2019-05-17 05:46] gurgalex commented on #40
Only having the top level Mode (first upon program open) capture KeyDown
events seems useful.

Capturing TextInput events and ignoring most keypress events will be useful
it seems for states where we are not in the program's main input handler
state.

Plus Capital letters are one event.

https://love2d.org/forums/viewtopic.php?t=81729

On Thu, May 16, 2019, 20:19 Nick Hackman <notifications@github

[2019-05-17 06:03] NickHackman commented on #40
Not sure I understand what you mean, if you're referring to normal (default) mode it for the most part captures only KeyDown events.

Yeah, as of right now I'm only capturing Escape/Return/Enter/Return2, everything else is being captured by TextInput, on second thought it should also be handling resizing where we need to rerender.

[2019-05-17 06:15] gurgalex commented on #40
Mostly a heads up that typing "/" generates a KeyDown, TextInput and a
KeyUp event.

On Fri, May 17, 2019, 01:03 Nick Hackman <notifications@github.com> wrote:

[2019-05-17 12:38] #52 closed

[2019-05-17 12:45] Davejkane commented on #40
This all seems very cool, and pretty interesting. I have no issue with the way you're solving it.

[2019-05-17 18:42] Davejkane commented on #22
Hi @ori155. I don't want to put any pressure on, but can you please clarify if you're still taking care of this? If not I'd like to have a look at it.

[2019-05-19 07:22] NickHackman commented on #50
~~I'm game to work on this since I need it for #40~~

~~I think implementing this solely in this application wouldn't be beneficial and that if we can't find another library that performs this operation, we might as well write a separate library to perform this because this would supersede the glob library that we're currently using.~~

[2019-05-19 07:48] gurgalex commented on #50
I was thinking [shellexpand](https://crates.io/crates/shellexpand) (for tilde expansion)
and then passing the glob string to `glob::glob` to process the string may work.

Cli argument `paths` and the flag for shell independent globs should be mutually exclusive (clap has support for this [conflicts_with](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.conflicts_with))
or each overrides one

[2019-05-19 08:07] NickHackman commented on #50
Uhh, my previous comment was a brain fart.

I have a [pull request](https://github.com/netvl/shellexpand/pull/4) in shellexpand fixing the deprecated use of `std::env::home_dir`. Shell expand would allow us to also use `$HOME/images.jpg` too, so that would be nice!

[2019-05-19 15:51] gurgalex commented on #22
@Davejkane I'd like to work on this while waiting for the implementation of #40 to finalize (which NickHackman is working on in #58)

[2019-05-19 16:00] gurgalex commented on #22
@Davejkane  a couple questions.

if someone pans 100 pixels right and 100 pixels down from center, then toggles back and forth between actual fit and fit to screen. Should the `offset` from center be preserved? What about the zoom level?

I'd go with both being preserved between toggling.

I assume the `offset` should be reset to centered on image change.

Should the zoom level be reset when movin

[2019-05-19 19:27] Davejkane commented on #22
@gurgalex. In my mind neither the offset or the zoom should be preserved if you start playing with the z key. Totally fine for that to just centre the image, unless it's easier to implement it with preserving, in which case go ahead.

And yes, I'd expect zoom and pan to be reset when changing images.

[2019-05-19 19:29] gurgalex commented on #22
What should each of the `j` `k` `l` and `;` keys correspond to in pan directions?

[2019-05-19 19:37] Davejkane commented on #22
J = down, K = up, H = left, L = right. Sorry I said semi-colon. Was getting mixed up between vim and i3. Just the same as vim.

[2019-05-19 19:40] Davejkane commented on #50
How does shellexpand help with globbing? As a user I'd like to be able to type `"~/**/*.png"`. Is shellexpand going to be able to help with that or are we going to have to separate the glob from the rest of the path ourselves?

[2019-05-19 19:47] gurgalex commented on #50
It doesn't help with globbing.

It helps with expanding `~/*.png` to `/home/alex/*.png` so that it can be passed to `glob::glob` for finding matching file paths.

[2019-05-20 06:14] Davejkane commented on #50
Isn't there also a problem with the `glob` library not handling absolute paths correctly? I think it automatically inserts the current dir regardless, so `/usr/local/*.png` get's expanded to `/path/to/current/dir//usr/local/*.png`.

[2019-05-20 06:33] gurgalex commented on #50
No, I think that was because in previous version of `riv` the current directory was always prepended to all glob strings.

The following code handles non-current directory globs just fine.

[code]

Results

[code]

[2019-05-20 06:37] Davejkane commented on #50
OK, cool.

[2019-05-20 06:38] gurgalex commented on #50
Removed `context` field. Which fixed `~`, but also fixed absolute paths.
https://github.com/Davejkane/riv/pull/45/files#diff-10c5f11df40746fb61a07b0195c723e7L12

[2019-05-22 06:02] gurgalex opened #59 "Support Windows"
# Problem

Does this app even run on Windows?

# Solution

## Windows versions to support
Any Windows version still serviced by Microsoft for Home users. This currently means Windows 10 only.

https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet

## How to Build SDL2 apps for Windows
Use [CI](https://github.com/japaric/trust) to output release builds?

## How to Develop on W

[2019-05-22 19:12] Davejkane commented on #42
@gurgalex are you happy that @NickHackman 's PR takes care of this? Can we close this ticket?

[2019-05-22 19:24] Davejkane opened #60 "New improved README"
Change the README to be user focused instead of a call to green developers (I'm happy with the little team that we have, any more at this stage would just be too much getting in each others way).

- [ ] Tidy up the manual.
- [ ] Emphasis on features.
- [ ] Gif/Screenshot of the program in action.
- [ ] Clearer installation instructions.

[2019-05-22 19:27] gurgalex commented on #42
Haven't come across a better way yet to say that parts of the screen need to be redrawn, but others do not. Though [webrender's method](https://hacks.mozilla.org/2017/10/the-whole-web-at-maximum-fps-how-webrender-gets-rid-of-jank/) seems promising, but complicated to do in SDL2 perhaps.

So, I guess it can be closed.

[2019-05-22 19:29] Davejkane commented on #42
OK, if we feel it's a problem later we can always bring it back up

[2019-05-22 19:29] #42 closed

[2019-05-22 19:29] #40 closed

[2019-05-22 21:32] NickHackman commented on #53
I'll happily take this one!

 I think we should use a regex for searching just because it's nice to have. Oh, furthermore wrapping like vim (when you hit the bottom it goes back to the top). Your feature set looks great!

[2019-05-23 00:41] gurgalex commented on #60
I liked the `contributing` section. Seemed welcoming to me despite having no prior experience with SDL2 or image viewers.  Maybe removing the sentence

[2019-05-23 00:50] gurgalex commented on #53
@NickHackman
All yours.

Thanks for the continued contributions.
We look forward to turning this into a suitable image viewer (and minor management) replacement.

[2019-05-23 04:04] Davejkane commented on #60
Yeah, ok. I'll leave some of the contributing section there, and maybe move the rest to the CONTRIBUTING.md

[2019-05-23 07:54] Davejkane commented on #53
@NickHackman I like the regex idea. Perhaps if the string is just text, we could append `*` to the start and end of the string and build the regex. I'd still like this program to have good international support, so we don't just want ascii matching here when determining if the string is just text. So probably just want to check whether or not the string contains symbols.

If the string is not just

[2019-05-23 16:23] NickHackman commented on #60
If we're moving towards a more user facing perspective we should have a man page in addition to the `readme`

[2019-05-23 18:04] Davejkane commented on #60
@NickHackman, agreed, but we'll wait with that until we're ready to look at platform specific build scripts. And that's not just yet.

Unless this works...
https://github.com/clap-rs/clap_generate

[2019-05-24 05:17] gurgalex commented on #60
So, we could have `riv` view the rust logos for the screenshot.
It is the `Rust Image Viewer`
![riv_rust_logo](https://user-images.githubusercontent.com/28968644/58304287-4580c700-7db9-11e9-8e90-dcd175abe5fb.png)

[2019-05-24 06:26] #50 closed

[2019-05-24 08:19] Davejkane commented on #60
Yeah, was thinking something similar

[2019-05-24 08:24] gurgalex commented on #60
Though, we really need to make it clear that `riv` is a minimal GUI image viewer and does not render to the terminal.

[2019-05-24 08:27] gurgalex commented on #60
So, the animated gif should probably give a quick demonstration of the important features correct?

Similar to [this interactive Postgres prompt](https://raw.githubusercontent.com/dbcli/pgcli/master/screenshots/pgcli.gif)

[2019-05-24 12:26] Davejkane commented on #22
@gurgalex. Now that Nick's branch is released, do you want to focus on Numerical arguments and I'll take this one? Or do you still want to do this one as well?

[2019-05-24 15:03] gurgalex commented on #22
@Davejkane
I'll take Numerical arguments.

Hard part in this is zooming in.

[2019-05-25 01:24] gurgalex opened #65 "What is the behavior of `-m` on image deletion?"
A couple questions I've come across while adding tests and refactoring `paths` for #48

# Scenerio 1
`riv -m 50 "*.png"`

The directory has 1000 png files in it but only 50 are shown.

program shows `50 of 50`

## Questions
1. What should happen on image deletion/move?

Should the display show: `49 of 49`

or, load in the next image, and show `50 of 50` (current development behavior)

2. Should se

[2019-05-25 02:33] sadid opened #66 "d for move to trash (OS specific). D for force delete (current behaviour)"
While I love the vim style and the uninterrupted/fast deletion procedure of `riv` by 'd' (very convenient), however this behavior makes `riv` not safe for me. Because, just by even one accidental press of d, the image will be removed (by `rm`?) and this is a bit worrisome for me.

I think, if `d` (or `D`) remove the image in the same procedure but:
* create a folder as 'delete' (just like `keep`)

[2019-05-25 08:12] Davejkane commented on #66
@sadid Thanks for the input, so nice to get our first user feedback.

I had something similar in mind. Was also thinking `d` for a delete confirmation dialogue (in the information bar at the bottom), `D` for force delete. This has only very recently come into scope with the new interactive command bar functionality, so we'll look at this soon. For now, please be careful with your images, and I'm s

[2019-05-25 08:24] Davejkane commented on #65
@gurgalex I think this is a reasonably niche issue and a bit of an edge case. It is worth thinking about, but I'm not going to turn this into a project issue just now. I don't have any strong opinions on the matter - as a user I don't think I'll be using the max feature often if at all - so I'm more than happy to let you decide what correctness should be in this case.

[2019-05-25 13:21] gurgalex commented on #65
Alright, I'll settle on needing to refresh either the glob or change max
images to load more images. Makes for simpler code.

On Sat, May 25, 2019, 03:24 Davejkane <notifications@github.com> wrote:

[2019-05-25 14:24] ori155 commented on #22
Hi, It seems I can't put the time right now in order to be in your pace, sorry about the late replay.
I'm leaving it to you @Davejkane .

[2019-05-26 14:42] #22 closed

[2019-05-26 16:41] Davejkane opened #68 "Fix Pan"
It's a bit messed up. I'll fix it later.

[2019-05-26 20:30] Davejkane opened #71 "Panning when no images crashes program"

[2019-05-26 20:33] Davejkane opened #72 "Command to centre image"
After panning it is not easy to re-centre the image. We should either make `z` centre the image, or make a new command to do so. Probably existing `z` toggle fit command would be best.

[2019-05-26 21:32] gurgalex commented on #71
Complicating the codebase, but more correct. Use lots of options is what the tests made during the refactor I'm working on for `paths` and `screen` led to.

Thank you compiler for all 33 places where I need to consider the possibility the index could be empty.
private functions or inner functions per file are great for when I've already garenteed the option is always `some` at this point.

[code]

[2019-05-27 07:41] #71 closed

[2019-05-27 08:06] Davejkane opened #75 "Errors on the Info bar"
# Goal

Right now, there is some error handling that involves an `eprintln!` and then nothing else. In these cases, rather than informing the user in the terminal, we should inform them using our info bar.

# Implementation

* Look through all the places where we `eprintln!` on error, and instead send that text to the info bar.
* Look at the command mode errors as an example.
* Use error mode.
* C

[2019-05-27 08:13] Davejkane opened #76 "Command Mode specific help text"
# Goal

Right now, the command `:help` prints the regular help text for normal mode controls i.e. the same as the `?` key. Instead, it should print help specific to command mode.

# Implementation

* Using the text already in the readme, make a new help text method similar to the existing one, but for command mode.
* On command `:help` print this help text instead of the existing help text.
* Inst

[2019-05-27 08:27] Davejkane opened #77 "r -> RotateClockwise, R -> RotateAntiClockwise"
# Goal

It should be possible to rotate images in 90 degree increments, clockwise with `r`, anti-clockwise with `R`

# Implementation

* Add key handling for `r` and `R`
* Perhaps make a `Rotation` enum in the `ui::State` with the four variants.
* Decide whether or not it makes sense to persist the rotation on returning to a previously rotated image
  * On a new image rotation should be reset
  *

[2019-05-27 10:01] Davejkane opened #78 "Success Messages"
Related to [#75](https://github.com/Davejkane/riv/issues/75)

# Goal

Provide the user success feedback on certain operations. For example, when a user deletes, copies or moves an image, redefines the glob or redefines the destination folder (there may be more), print an informative success message on the info bar

# Implementation

* Simillar to [#75](https://github.com/Davejkane/riv/issues/75) m

[2019-05-27 10:47] sadid commented on #66
I just want to emphasis that I love the no-confirmation approach. Personally, I prefer the folder approach (like 'keep' a 'delete' folder for example), since I usually call riv from my ranger rifle and working with directory is easy. This way it integrate better with my vim/ranger/riv workflow.

Moreover, I want to thank you for your software. It's inspiring and I like to use it more. Also no loss

[2019-05-27 12:00] Davejkane commented on #66
@sadid, I think if I was going with a folder approach, I would use the `~/.Trash` on mac, `$recycle_bin` on windows, and then whatever we have on linux (probably 101 different possibilities).

[2019-05-27 12:52] gurgalex commented on #66
@Davejkane
Not sure what to do for Windows trash support without adding [winapi-rs](https://crates.io/crates/winapi) as a crate dependency. as it is not a path, but [a "VIRTUAL" folder.](https://docs.microsoft.com/en-us/windows/desktop/shell/explorer-concepts#introduction)

[deleting a file for Windows 8+](https://docs.microsoft.com/en-us/windows/desktop/api/shobjidl_core/nf-shobjidl_core-ifileope

[2019-05-27 13:01] #72 closed

[2019-05-27 13:17] Davejkane commented on #66
@gurgalex, that's a little disappointing, but thanks for looking into it. Will be an interesting challenge.

[2019-05-27 19:39] gurgalex opened #80 "Calculate scale for fit crashes when no images present"
Press `z` or` left-click` when no images are present.
[code]

[2019-05-27 20:39] #80 closed

[2019-05-27 21:14] Davejkane commented on #59
I'm going to close this issue. We are tackling this separately in each issue where it is a problem.

[2019-05-27 21:14] #59 closed

[2019-05-28 08:19] #75 closed

[2019-05-28 08:19] #78 closed

[2019-05-28 08:24] gurgalex opened #83 "Timeouts for success messages"
Edited: filename covered, not the current image

Success messages do not disappear until the UI is refreshed.

This means that  with the `ng` and `df` commands, the new or current image filename is only visible after performing another action.

A possible solution is having messages only last a short amount of time before bringing back the previous state of the infobar.

[2019-05-28 08:30] Davejkane commented on #68
When zoomed in, one can pan past the edge of the image. This shouldn't be possible. Also, when zoomed in a lot, the pan is cripplingly slow. Also needs fixed.

[2019-05-28 09:27] Davejkane commented on #83
I just tried this out. When I define a new glob, the new image is displayed along with the success bar. Also on delete or move, the next image is shown. A timeout might be nice anyway, but I don't see any incorrect behaviour here.

[2019-05-28 17:02] Davejkane commented on #38
Right now I see this as neither actionable nor a significant issue. So I'm closing it for now. We can re-open later if it becomes a problem.

[2019-05-28 17:02] #38 closed

[2019-05-28 17:05] gurgalex commented on #83
Sorry, meant the filename is covered up by the success info message.

[2019-05-28 17:23] gurgalex commented on #38
Hmm, it's still an issue that becomes more apparent if lots of large (multi-screen) images are being cycled through.

Could we have labels like (P-low) for low priority issues. That way they aren't forgotten about.

[2019-05-28 21:04] Davejkane commented on #66
After reading into this https://github.com/nivekuil/rip, I think our solution should be threefold.

* Take an optional trash path cl argument
* if not that, check for `$RIVTRASH` environment variable or something
* Have defaults specific to each major os
  * MacOS -> `~/.Trash`
  * Linux -> ~/.local/share/Trash
  * Windows -> 🤷‍♂

[2019-05-29 05:30] #83 closed

[2019-05-29 05:40] #76 closed

[2019-05-29 05:48] #68 closed

[2019-05-29 06:51] gurgalex commented on #48
@Davejkane
What should the errors be like if copying 5 out of 50 images succeeds?

Should the program continuing moving/deleting/copying files if it encounters at least one that already exists, or fails for another reason.

[2019-05-29 11:08] Davejkane commented on #48
@gurgalex I would suggest to keep processing in the event of an error and the error message should indicate how many images failed to copy/move/delete. You may want to still `eprintln!` on each failure.

[2019-05-30 08:59] #65 closed

[2019-05-31 17:02] Davejkane opened #88 "Flip image. Vertical and Horizontal"
# Goal

Be able to flip an image either horizontally or vertically.

# Implementation

* Add two new keys, `H` and `V` might be good choices.
* SDL2 will definitely have a way to flip and image
* Vertical and horizontal flips could probably be booleans in the ui state.

[2019-05-31 17:11] Davejkane opened #89 "Async path globbing"
# Goal

We should be able to build the window and use the info bar to indicate that the glob is in progress, and then render the images once available. Right now, if I launch `riv "~/**/*"`, nothing happens until the globbing is finished and that can take a while.

# Implementation

It's an interesting time in rust land when it comes to async. Feel free to accomplish this using whatever you think

[2019-05-31 20:10] Davejkane opened #90 "Copy-to and Move-to"
# Goal

Rather than copy or move to the destination folder, it should be possible to copy or move to a specific destination as a one-off operation. Kind of like a Save As functionality in common gui programs. This should include setting the entire path including the filename.

# Implementation

* Make both a key command and a command mode command for copy-to and move-to. I would suggest `C` and `M

[2019-06-01 05:33] gurgalex commented on #88
Hmm, we've already used `H` (Shift + h) for pan left.

Should the keys be lowercase `h` and `v`?

[2019-06-01 10:17] Davejkane commented on #88
@gurgalex, yeah I guess that could work.

[2019-06-01 16:14] #48 closed

[2019-06-01 19:21] gurgalex commented on #88
I'd like to work on this. Seems pretty straightforward.

[2019-06-02 20:51] #88 closed

[2019-06-04 03:46] gurgalex commented on #66
Doesn't seem quite as simple for Linux as I thought.

Need to correctly handle trashing a file.
https://specifications.freedesktop.org/trash-spec/trashspec-1.0.html

As someone may want to restore it.

MacOS requires finding the right bindings for trash operations. I don't have a Mac, so we'll see how much work can be done with no testing.

Windows is slightly easier as I have the machine to test

[2019-06-04 06:33] Davejkane commented on #66
@gurgalex do you want to take this one? If all of this is too much hassle we could just follow the same as above, but with just a regular directory as the os specific path.

So cascading importance would be `cli arg > env var > default path (os specific)`.

[2019-06-04 06:34] Davejkane commented on #66
If you don't want it, I don't mind taking it.

[2019-06-04 16:47] gurgalex commented on #66
@Davejkane I'll work on this (or parts of it) depending on what we go with.

If we go with having our own default directory, we'll need a way for the program to restore the files to the location they were moved from. Which I'll probably go with the freedesktop.org trash spec, as they say it can work across platforms.

If we go with native trash support, I can do linux and Windows.  I'll need you t

[2019-06-06 09:03] gurgalex commented on #66
@Davejkane
I've got an initial draft for OS specific trash support (linux only so far)

This can be pushed to when implementing Mac OS trash support.

[2019-06-08 00:00] gurgalex commented on #77
@Davejkane

When rotating an image, did you want the zoom level to adjust if the rotated image will need a bigger zoom level to fit fully on the screen?

[2019-06-08 00:00] gurgalex commented on #77
@Davejkane, are you still working on this?

[2019-06-08 03:40] gurgalex commented on #53
Hi @NickHackman

Do you plan to work on this M-F next week?

If not, I can start working on it.

[2019-06-08 04:07] NickHackman commented on #53
@gurgalex go ahead, classes are ramping up and midterm week has come around. sorry that I've been dark for so long. I'll contribute more in the future, but after midterm week settles down.

[2019-06-08 04:51] gurgalex commented on #53
@NickHackman
Not a problem. I forgot that summer classes are much more intense than full semester classes.

Just wanting to make sure we weren't going to duplicate effort needlessly.

Sidenote: Is https://github.com/NickHackman/Aurr
a school project, or is it open to contributions from anybody?

[2019-06-08 05:12] NickHackman commented on #53
@gurgalex Open source, going for an AurHelper that handles all the bases, but doesn't try to take over for Pacman. Or at least that's the idea, we're really early in, so it's mostly up in the air. Right now it's just a library...

[2019-06-08 11:33] #77 closed

[2019-06-10 19:58] gurgalex commented on #66
Closed by #93

[2019-06-10 19:58] #66 closed

[2019-06-10 23:41] gurgalex commented on #89
@Davejkane

Would it be desirable to have a progress bar like `found 250000 images...` and `found 800000 images...`?

Yes, my test set is 1M blank images that take ~15 seconds to load. A good indication that the program may be frozen.

[2019-06-11 00:42] gurgalex commented on #89
Interesting, so getting only one image using glob took ~3 seconds (out of 1M images).

So, it won't be quite as simple as just reading the globs in chunks.

[2019-06-11 02:01] gurgalex commented on #89
I'll be working on this before #53 as a progress indicator may need to be added to long-running operations (new UI element)

[2019-06-11 02:02] gurgalex commented on #53
@Davejkane
Some clarification on a point.

`After the filter has been returned, we should render the next hit, NOT the first.`

Is this saying that if we have the following filenames

`9 11 12 13 14`

with a filter of `*1*` (any path with a `1` somewhere in it)

The next hit (image) shown should be `12`?

[2019-06-11 17:46] Davejkane commented on #53
@gurgalex it depends what image you are currently viewing. For example, just say there's 20 images, and you are viewing image with index 5. And your filter returns images 4, 7 & 10. You should show image 7 in this case, not image 4, which would be the "first" in the list.  I hope that clarifies.

[2019-06-11 17:51] gurgalex commented on #53
@Davejkane
Yep, thanks for the clarification.

`2 11 12 13 14`  (search filter `*1*`)
User is at image `12`

The filter should show image `12` with infobar text `image 2 of 4` (some other stuff/color to indicate search feature)
It should not start at the first result for the search.

[2019-06-11 17:53] Davejkane commented on #53
@gurgalex exactly. I'm excited about this feature and super happy you're working on it.

[2019-06-11 17:56] gurgalex commented on #53
Yep, taking care of #89 first, as I'm unsure how much impact multithreading (and progress indicators) will have on the codebase.

Still working on this though. Progress indicators seem nice to have for the search filter as well.

[2019-06-19 06:16] gurgalex opened #96 "Support all image formats which SDL2 image supports"
https://www.libsdl.org/projects/SDL_image/

SDL2 Image supports the following image formats:
BMP, GIF, JPEG, LBM, PCX, PNG, PNM, SVG, TGA, TIFF, WEBP, XCF, XPM, XV

[Have the file extension filter](https://github.com/Davejkane/riv/blob/5aff872b5d16e393408825a28d736c3a242df9b7/src/cli.rs#L140) support all of these.

[2019-09-13 09:59] baskerville opened #97 "Choke on large images"
The images whose width or height is greater than 8192 aren't displayed. The related error message is:
`Failed to render image Texture dimensions are limited to 8192x8192`.

[2019-09-13 10:29] baskerville opened #98 "Fail on first fullscreen request"
When the *f* key is initially pressed, the window won't enter the fullscreen state. It only works on subsequent key presses.

[2019-09-13 18:51] baskerville opened #99 "Hide the mouse cursor?"
I think it would be a good idea to hide the mouse cursor after a short period of stillness (or altogether).

[2019-09-13 18:55] baskerville opened #100 "Better choice for the *Key 2* of the *Previous/Next Image* actions"
I think *Space* and *Shift+Space* might be more appropriate here.

[2019-09-13 18:59] baskerville opened #101 "Start without the information bar"
I think it might be worth adding a flag to start without the information bar.

[2019-09-14 18:26] baskerville opened #102 "*Fit to screen* doesn't reset panning"
Steps to reproduce:
- Zoom in.
- Pan left or right.
- Fit to screen (*scaled image*).

[2019-09-15 10:26] baskerville opened #103 "*Fit to screen* doesn't take into account the applied rotation"
When a rotation is applied, *fit to screen* might crop the image.

[2019-12-25 02:29] topin89 opened #106 "build script for Windows"
I made instructions how to build riv for Windows and added build script for _Cargo.toml_.
It's based on instructions from https://github.com/Rust-SDL2/rust-sdl2, with build script slightly modified to copy dlls to /target/<build profile> instead of manifest directory.

So, should I do the PR?

[2020-03-13 10:04] quite opened #107 "feature: thumbnail view"
This feature would be a big deal. Interested in having it on the long-term plan?

(I've been looking for something to replace https://github.com/muennich/sxiv on Wayland, preferably not in C.)

[2020-03-13 10:12] Davejkane commented on #107
I had something similar on my roadmap, but honestly, I'm not actively working on this project at the moment.

[2020-03-13 10:33] quite commented on #107
That's good to know, and be known. I just read an issue saying you were happy with the current little team...

[2020-03-27 07:22] topin89 commented on #106
Heh. Guess not.

[2020-03-27 07:22] #106 closed